<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:500px;margin: 0 auto">
    <div>div居中：设置宽度，并设置margin: 0 auto</div>
    <a href="{% url 'bootstrap_index' %}" target="_blank">去boostrap主页</a><br>
    <a href="{% url 'layui_href' %}" target="_blank">去layui主页</a><br>
    <a href="{% url 'itchat_index' %}" target="_blank">itchat微信好友分析测试</a><br>
    <a href="{% url 'jquery_util_test' %}" target="_blank">自定义jQuery-util.js测试，以及好用的控件展示,jquery validate插件使用</a><br>
    <a href="{% url 'JTable_test' %}" target="_blank">JTable数据表格crud测试</a><br>
    <a href="{% url 'jquery_datatables_test' %}" target="_blank">DataTables数据表格测试</a><br>
    <a href="{% url 'search_style' %}" target="_blank">搜索框效果 及 按钮效果</a><br>
</div>
</body>
</html>