<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/frame/css/fontawesome/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--整个页面样式 -->
    <!--bootstrap -->
    {#    <script type="text/javascript" src="/static/frame/js/jquery-1.10.2.min.js"></script><!--这个原生js必须放在最前面 -->#}
    <script type="text/javascript" src="/static/frame/js/jquery-2.0.3.js"></script><!--这个原生js必须放在最前面 -->
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <!--bootstrap_table -->
    <link href="/static/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="/static/bootstrap3-typeahead/bootstrap3-typeahead.js"></script>
    <!--bootstrap_editable -->
    <link href="/static/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="/static/bootstrap3-editable/js/bootstrap-editable.js" type="text/javascript"></script>
    <script src="/static/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>
    <!--bootstrap_editable -->
    <link href="/static/toastr-master/build/toastr.css" rel="stylesheet">
    <script src="/static/toastr-master/build/toastr.min.js"></script>

</head>
<body>

</body>
</html>