<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <title>Moltran - Responsive Admin Dashboard Template</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/pages.css" rel="stylesheet" type="text/css">
    <link href="assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">

    <script src="assets/js/modernizr.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Default Buttons</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default waves-effect m-b-5">.btn-default</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light m-b-5">
                        .btn-primary
                    </button>
                    <button type="button" class="btn btn-success waves-effect waves-light m-b-5">
                        .btn-success
                    </button>
                    <button type="button" class="btn btn-info waves-effect waves-light m-b-5">.btn-info
                    </button>
                    <button type="button" class="btn btn-warning waves-effect waves-light m-b-5">
                        .btn-warning
                    </button>
                    <button type="button" class="btn btn-danger waves-effect waves-light m-b-5">
                        .btn-danger
                    </button>
                    <button type="button" class="btn btn-inverse waves-effect waves-light m-b-5">
                        .btn-inverse
                    </button>
                    <button type="button" class="btn btn-purple waves-effect waves-light m-b-5">
                        .btn-purple
                    </button>
                    <button type="button" class="btn btn-pink waves-effect waves-light m-b-5">.btn-pink
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END wrapper -->

<script>
    var resizefunc = [];
</script>

<!-- CUSTOM JS -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/waves.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>

<script src="assets/js/jquery.app.js"></script>


</body>
</html>